<% if user_signed_in? %>
  <div class="row home-info">
    <aside class="col-md-2">
      <section class="user_info">
        <%#= render "shared/user_info" %>            
      </section>
    </aside>
    <div class="col-md-7">
      <%= render "shared/feed" %>
    </div>
    <div class="col-md-3">
      Suggested Shop
    </div>
  </div>
<% else %>
<% end %>