<% if user != current_user %>
  <li class="">    
    <%= link_to image_tag(user.image? ? user.image.url : 
              "profile_default.png",class:"user_midle_image img-thumbnail"),user%>
    <%= link_to user.name, user %>
  </li>
<% end %>