<% provide :title, "Users" %>
<div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="page-header">Profile</h1>
    </div>
    <div class="panel-body">
      <div class="gravatar"><%=gravatar_for @user%></div>
      <div><label>Name:</label><%= @user.name.capitalize %></div>
      <div><label>Contact: </label><%= @user.email %></div>
      <%if current_user? @user.id%>
        <div class ="btn btn-primary btn-edit-user">
          <%=link_to "Edit",edit_user_path(@user)%>
        </div>
      <%end%>      
    </div>
  </div>
</div>