<% if object.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <%= pluralize object.errors.full_messages.count, "Error" %>
    </div>
    <div class="panel-body">
      <ul class="error">
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>