<%=link_to user_image_profile(current_user,size:"midle"),current_user%>
<div><b><%=link_to current_user.name,current_user %></b></div>
<span><%= pluralize(current_user.products.count, "products") %></span>