@import "bootstrap";

#application{
  margin-top:1em;  
}

ul {
  list-style: none;
}

li{
  list-style: none;
}

.page-header, .alert {
  text-align: center;
}

.error {
  list-style: none;
  color: #A94442;
}

.left_head{
  margin:0 2em 0 2em;
  float:left;
}

.right_head{
  margin:0 3em 0 0;
  padding-top:0.5em;
  float:right;
}

header{
  border-bottom:2px solid rgb(104,104,104);
  margin-bottom:10px;
}

.footer{
  border-top:2px solid rgb(104,104,104);
  margin-top:10px;
  padding-bottom:10px;
}

.right_footer{
  float:right;
}
.field{
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;  
  }
}
textarea{
  height:12em;  
}

select{
  height:2.2em;
  border-radius:3px;  
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}

.user_small_image{
   width: 35px;
   height: 35px;
}

.user_big_image{
  width: 150px;
  height: 150px; 
}

.user_midle_image{
  width: 350px;
  height:200px;  
}

.user_follow_image{
  width: 30px;
  height: 30px; 
}

.user_cover{
  width: 100%;
  height: 300px;
  position:relative;
}

.my-btn{
  padding-right:0.2em;
}

.my_body{
clear:both;  
  padding-top:3em;
}

.user-profile-info{
  margin-top:-10em;
  margin-left:1em;
  position: relative;
}

.products{
  height:100px;
}

.border-pro-img{
  
}
.thumbnail{
  .credit{
  width: 35px;
   height: 35px;
  }
}

@media(min-width:768px) {
#my-header-form,#search-bar{
  float:left;  
}

.thumbnail{
  .pro_image_320X150{
    //width:320px;
    height:150px;
}
  .pro_image_800X300{
    //width:800px;
    height:300px; 
  }  
}
}
.carousel-inner > .item,.carousel-inner > .item > a{
.user_cover_800X300{
    width:1300px;
    height:300px; 
  }
.pro_image_800X300{
    width:800px;
    height:400px; 
  }  
}

#follow_form{
  position:absolute;
  margin:-2em 3em 0 -9em;
}

.btn-user-new-sms{
  float:right;
  margin-right:2em;
}

.btn_like{
  color: red;
}

/* Rating Stars */
li.rating_star {
  float:left;
  list-style: none;
  margin: 0;
  padding: 0; 
  width: 25px;
  height: 25px;
  background: url("star.png") top left;
} 

li.rating_star.on {
  background: url("star.png") 0 -25px;
}

.notification-menu{
  width:30em;
}

.user-profile{
  width:65em; 
}

body{
  overflow-x: hidden;
  overflow-y: scroll !important;  
}

body.modal-open {
    overflow: hidden;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.modal .modal-body {
    max-height: 35em;
    overflow-y: auto;
}
.edit-user-profile{
  margin-top:-7em; 
  position: relative;  
}

.user-edit-form{
  margin-top:1em;
}

.file_cover{
  position: relative;
}

.panel {
  @extend .panel;
  padding: 1em 1em 1em 1em;
  p {
    font-size: 1em;
  }
}

.product_comments, .product_comment_form{
  margin-top:0.5em;
  margin-botton:0.5em;
  padding:0 0 0 0;
}

#user-header{
  padding:0.5em 0 0 0;
}

#btn-user-header{
  margin: 0.5em 1em 0 0;
  padding:0.5em 0.5em 0.5em 0.5em; 
}

#side-menu{
  ul{
    padding-left:0;
  }  
}

.portfolio-item {
    height: 400px;
    overflow: hidden;
    margin-bottom: 25px;    
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 120px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.comment_info{
  padding-right:1em;
}

.thumbnail img {
    width: 100%;
}

#top-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    z-index: 999;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    display: none;
    *z-index: 2;
    margin-bottom: 20px;
    overflow: visible;
}
.navbar{
    z-index:1000; /* lift .navbar above #top-shadow */
}
.navbar.affix{ /* position fixed navbar */
    top:0; 
    width:100%;
}

/*
 *  STYLE 1
 */

#scroll-style::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}