<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <center><h4 class="modal-title">New Product</h4></center>
      </div>
      <%= form_for [current_user,@product],remote:true do |f| %>
        <div class="modal-body">          
            <%=render "form", f: f%>        
        </div>
        <div class="modal-footer">          
          <%= f.submit "Post", class: "btn btn-primary" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>