<%= link_to "#",class:"dropdown-toggle",id:"pro_category", 
            'aria-expanded' =>'false',:data => {:toggle=>"dropdown"} do%>
            <b class="hidden-sm hidden-md">Categories</b><b class="caret"></b>
<%end%>
    <ul class="dropdown-menu" role="menu">
      <li>Category1</li>       
      <li>Category1</li>
      <li>Category1</li>
      <li>Category1</li>
      <li>Category1</li>
      <li class="divider"></li>
      <li>Category1</li>
    </ul>