<div class="dropdown">
<%= link_to raw('<div class="glyphicon glyphicon-bullhorn btn-lg my-btn"></div>Notification'),notification_notifications_update_ischecks_path(current_user),class:"dropdown-toggle",:data => {:toggle=>"dropdown"},
  id:"notification-menubar",remote:true%>
    <sup class="text-danger">
      <b>
        <%@notifications=current_user.user_notices.uncheck_notification%>
        <%=@notifications.count%>
      </b>
    </sup>
  <ul class="dropdown-menu notification-menu">
    <li><center>Notification</center></li>
    <li class="divider"></li>
    <div class="scrollable-menu">
    <%=render @notifications%>
    </div>
    <li class="divider"></li>
    <li><center><%=link_to "See All",notifications_path%></center></li>
  </ul>
</div>
<script type="text/javascript">
  $("#notification-menubar").click(function(e){
    <%%>    
  });
</script>