<%= link_to "#",:data=>{target:"#userMessageModal",
  toggle:"modal",backdrop:"static"} do%>
    <div class="glyphicon glyphicon-envelope my-btn">
    </div>
    Message
    <%if current_user.recive_messages_unread.count >0%>
      <sup class="badge text-danger">
        <b>        
          <%=current_user.recive_messages_unread.count%>
        </b>
      </sup>
    <%end%>
<%end%>        