<%= link_to raw('
        <div class="glyphicon glyphicon-envelope btn-lg my-btn">
        </div>Message'),"#",
        :data=>{target:"#userMessageModal",toggle:"modal"}%>
        <sup class="text-danger">
          <b>
            <%=current_user.recive_messages_unread.count if current_user.recive_messages_unread.count >0%>
          </b>
        </sup> 